@using Sushi.ViewModels

@model ShopCartViewModel

<div class="container">
    @foreach (var el in Model.shopCart.ListShopItems)
    {
        <div calss="alert alert-warning mt-3">
            <b>Товар:</b> @el.Food.Name<br />
            <b>Цена:</b> @el.Food.Price.ToString("c")
            <form asp-controller="ShopCart" asp-action="Delete" method="post" asp-route-id="@el.Id">
                <input type="submit" value="Удалить" />
            </form>
        </div>

    }
    @{
        int sumProd = 0;
    }
    @foreach (var sum in Model.shopCart.ListShopItems)
    {
       sumProd += sum.Food.Price;
    }
    <hr />
    <div>
        <b>Итого: @sumProd.ToString("c")</b>
    </div>
    
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>