@{
    ViewBag.Title = "Добавить товар на сайт";
}
@model Food
<h2>Добавление нового товара</h2>
<form asp-action="AddNewFood" asp-controller="AddFood">
    <p>
        <label asp-for="Name">Наименование</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Description">Описание</label><br />
        <input type="text" asp-for="Description" />
    </p>
    <p>
        <label asp-for="Category">Выберите категорию</label><br />
        <select asp-for="Category.Name">
            <option value="Пицца">Пицца</option>
            <option value="WOK">WOK</option>
            <option value="Роллы">Роллы</option>
            <option value="Салаты">Салаты</option>
            <option value="Напитки">Напитки</option>
        </select>
    </p>
    <p>
        <label asp-for="Price">Цена</label><br />
        <input type="number" asp-for="Price" />
    </p>
    <p>
        <label asp-for="Img">Путь к изображению /img/...</label><br />
        <input type="text" asp-for="Img" />
    </p>
    <p>
        <label asp-for="ToViewHome">Показать в рекомендациях?</label><br />
        <input type="checkbox" asp-for="ToViewHome" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>
<form method="post" asp-controller="Users" asp-action="Index">
    <input type="submit" value="Пользователи" class="btn btn-warning" />
</form>

</td>