@{
    ViewBag.Title = "Contacts";
}

<h2>Контакты</h2>

<div class="col-sm-3 col-xs-12">
    <ul class="list-unstyled">
        <li><a href="tel: +7 (983) 208-88-07">Телефон: <i class="fa fa-phone" style="margin-right: 5px; font-size: 16px"></i>533 27-4-27</a></li>
        <li><a><i class="fa fa-map-marker" style="margin-right: 5px; font-size: 16px"></i>г. Тирасполь</a></li>
        <li><a><i class="fa fa-map-marker" style="margin-right: 5px; font-size: 16px"></i>Ул. Покровская, 218</a></li>
        <li><a>E-mail: </a><a href="#">sushi.md@mail.com</a></li>
    </ul>
</div>